*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*font-family: 'Gentium Plus', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;*/

body { 
	background-color: #131313;
	color: dimgrey;
	overflow-x: hidden;
	margin-right: 0;
  }

/*body .light  {
	background: dimgrey;
}*/

a {
	color: inherit;
}

.open {
    min-height: 30vh;
    background: #2F4F4F;
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.open h1 {
	font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
	padding: 4rem;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 12s linear infinite;
  }

@keyframes shine {
  0% {
	background-position-x: -500%;
  }
  100% {
	background-position-x: 500%;
  }
}

.openp {
	min-height: 30vh;
   	background: #2F4F4F;
   	vertical-align: top;
   	display: inline-block;
   	text-align: center;
   	width: 100%;
}

.openp h1 {
   font-weight: 700;
   text-align: center;
   font-size: 32px;
   font-family: 'Nunito', sans-serif;
   text-transform: uppercase;
   padding: 2rem;
   letter-spacing: 3px;
   color: dimgray;
}

.openportfolio::after {
   content: "";
   width: 1px;
   height: 3px;
   right: 1px;
   border-right: 1px solid dimgray; 
   animation: blink 0.5s infinite ease;
}

@keyframes blink {
   0%{
	   opacity: 0;
   }
   100%{
	   opacity: 1;
   }				
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-size: 10px;
	background-color: #DCDCDC;
	font-family: 'Poppins', sans-serif;
}

.scroller {
	color: dimgray;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;	
}

/* need to do some work to get the burger looking good again */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
.sticky + .content {
	padding-top: 60px;
  }

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: dimgray;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: dimgrey ;
	margin: 5px;
	transition: all 0.3s ease;
}

.aboutme {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	letter-spacing: 3px;
	font-size: 36px;
	padding: 5rem;
	text-transform: uppercase;
	text-decoration: underline;
	color: dimgrey; 
}

.about {
	display: flex;
	flex-basis: 40%;
	align-items: center;
	justify-content: center;
}

.profile {
	max-width: 30%;
	Width: 18%;
	Height: auto;
	margin: 4rem;
	border-radius: 85%;
	border: 5px solid dimgrey;
	margin-top: 25px;
	
}

.abouttext {
	Width: 70%;
	font-size: 30px;
	padding-left: 20px;
	text-align: justify;
	color: dimgrey;
	margin-right: 4px;
	letter-spacing: 3px;
	padding-bottom: 2rem;
}

.portcontainer{
	display: fixed;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	letter-spacing: 3px;
	width: 100%;
	overflow-x: hidden;
}

.portcontainer h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 36px;
	padding: 4rem;
	text-transform: uppercase;
	text-decoration: underline;	
}

.portcontainer h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	padding: 3rem;
	text-transform: uppercase;
	text-decoration: underline;
}

.portcontainer p{
	padding: 0rem;
	font-size: 16px;
}

.portnote{
	font-size: 8px !important;
	padding: 0;
}

.portcontainer span {
	font-size: 10px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
	min-height: 8vh;
	background-color: #DCDCDC;
}

.socials {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1px;
	position: relative;
	height: 26px;
	width: 100%;
	transform: scale(1);
	color: dimgrey;
}

.animated-gif {
	width: 25px;
	height: auto;
}


/*ligh/dark toggle*/
.darktoggle .checkbox {
	opacity: 0;
	position: absolute;
	padding-bottom: 0;
	width: 20%;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 1px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

/* tablet size-ish*/
@media screen and (max-width: 1180px) {
	.open {
		max-height: 15px;
	}
	
	.open h1 {
		padding: 1.5rem;
		font-size: 20px;
	}

	.openp {
		max-height: 15px;
	}
	
	.openp h1 {
		padding: 1.5rem;
		font-size: 32px;
	}

	.nav-links {
		min-width: 30%;
		width: 60%;
		margin: 10px;
	}

	.abouttext {
		width: 60%;
		font-size: 20px;
	}
}

/* need a third cut-off for mini-tablet profile
@media screen and (max-width: 768px) {}*/


/* cut-off for mobile */
@media screen and (max-width: 768px) {
	html, body{
		overflow-x: clip; 
		position: relative;
	} 
	
	.open {
		max-height: 15px;
	}

	.open h1 {
		padding: 2.5rem;
		font-size: 15px;
	}
	
	.nav-links{
		position: absolute;
		right: 5px;
		height: 50vh;
		top: 33.5vh;
		background-color: #DCDCDC;
		display: flex; 
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in; 
	}	
	
	.nav-links li{
		opacity: 0;
	}

	.burger {
		display: block;
	}

	.aboutme {
		text-align: center;
		letter-spacing: 3px;
		padding: 2rem;
		text-transform: uppercase;
		color: dimgrey; 
	}
	
	.about {
		display: flex;
		flex-basis: 40%;
		height: 50%;
		align-items: center;
		justify-content: center;
	}
	
	.profile {
		Width: 15%;
		Height: auto;
		margin: 1rem;
		
	}
	
	.abouttext {
		font-size: 15px;
		padding-left: none;
		margin-right: 1px;
		letter-spacing: 1px;
	}

	.animated-gif {
		width: 25px;
		height: auto;
	}

}

.nav-active {
	transform: translateX(0%)
}
/*In theory, this creates a sliding effect*/
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
/*hamburger to cross */
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}


body .light  {
	background: dimgrey;
}



/*

.skills {

}    

.portfolio {

}


.contacts {

}

*/    