{% extends "base.html" %}

{% block title %}
	Aaron James Dodd About
{% endblock %}

{% block open %}
	<div class="open">
		<h1 class="name">Aaron James Dodd</h1>
		<h1 class="title">Frontend Software Engineer Intern</h1>
	</div>
{% endblock %}

{% block content %}
	<h3 class="aboutme">about me</h3>
	<div class="about">
		<image src="{{ url_for('static', filename='images/profile darker.jpg')}}" alt="profile" class="profile">
		<p class="abouttext">I'm Aaron, or A.D, whichever you prefer. I've worked in many fields with the mantra "no matter what you happen to be, make sure you're a good one." 
		   	I don't always get it right the first time. But getting it written is usually more important. Having been a writer, designer, musician and businessman 
		   	for the past ten-fifteen years, I can say with some confidence that having a solid foundation that you build on will end with a result. "Finish" first, improve later. 
		   	If that mentality works for you. Well, what are we going to build together?</p>
	</div>	
{% endblock %}
