{% extends "base.html" %}

{% block title %}
	Aaron James Dodd Resume
{% endblock %}

{% block about %}
	<h3 class="aboutme">about me</h3>
	<div class="about">
		<img src="https://cdn.discordapp.com/attachments/767118290619203625/981548057588015174/profile_darker.jpg" alt="profile" class="profile">
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur illum dolorum deserunt libero fugit repellat qui ut expedita amet aliquam.</p>
	</div>
	<!--<image src="{{ url_for('static', filename='images/#')}}">-->
{% endblock %}
