{% extends "base.html" %}

{% block title %}
	Aaron James Dodd Portfolio
{% endblock %}

{% block open %}
    <div class="openp">
        <h1>Aaron James Dodd</h1>
        <h1 class="openportfolio"></h1>
    </div>
{% endblock %}

{% block content %}
    <div class="portcontainer">
        <section class="games">
            <h2>Game Projects</h2>
            <p> Note * As these games will be commercial projects - the source code is not available</p>
            <section class="RPG">
                <h3>Demons:Genesis the RPG</h3>
                <!--video embed here-->
                <p>made with the RPG maker engine - and plugins made with Java, for example the "breathing enemies"</p>
                <p>The original game has 25-40 hours of gameplay available</p>
                <p>now I'm working on replacing engine features with my own.and making the game bigger. The original is fully functional, if less pretty.</p>
                <a href="https://discord.gg/tMMVKstvac" target="_blank"></a><span>Both the original game and the current version of the new game can be downloaded for free directly via the linked discord</span>
            </section>
            <section class="VN">
                <h3>Demons:Genesis VN</h3>
                <!--video embed here-->
                <p>made with Ren-py (Python)</p>
                <p>The majorit of the other project displays here are part of the design phase of this particular game</p>
                <p>features to present are limited beyond the GUI for now</p>
            </section>
        </section>
        <section class="Art">
            <h2>art scroller</h2>
        </section>
        <section class="Music">
            <h2>music playlist</h2>
        </section>
        <section class="otherport">
             <h2>book videos etc</h2> 
        </section>



    </div>
{% endblock %}